/*css.......................................*/
/* font-size: 2mm;
    font-size: 2cm;not good */
    /* font-size: 20px; rosolation images */
    /* font-size: 50%; nesbat be parent mored nazar taqir mikonad responsive*/
    /* font-size: 3ch; be enendaze karakter 0 taqir mikone */
    /* font-size: 0.5em;parent responsive*/
    /* (0.5 x 30=15px) */
    /* font-size: 0.5rem;parent html responsive*/
    
*{text-align: center;}
body{background-color: rgba(70, 95, 135, 0.6);
background-image: url(images/amir.jpg);
background-size:auto;
background-repeat: no-repeat;
background-attachment: fixed;
}
div{ border: 20px double /*It can be used from (solid and dotted) */ rgb(208, 134, 22);
    background-color: rgba(4, 255, 96, 0.329);
padding: 2vw;

}
#image-me{
    width: 200px; height: 200px;margin: auto;}
#image-girl{width:100px;height:100px;}
tr,td,table,th{
    border: 0.5vw solid black;
border-style: ridge;}
#col2{background-color: brown;}
#col4{background-color: brown;}

.border1{
    background-clip: content-box;
}
.border2{
    background-clip: padding-box;
}
.border3{
    background-clip: border-box;
    margin:auto;
}