/*css.......................................*/
/* font-size: 2mm;
    font-size: 2cm;not good */
    /* font-size: 20px; rosolation images */
    /* font-size: 50%; nesbat be parent mored nazar taqir mikonad responsive*/
    /* font-size: 3ch; be enendaze karakter 0 taqir mikone */
    /* font-size: 0.5em;parent responsive*/
    /* (0.5 x 30=15px) */
    /* font-size: 0.5rem;parent html responsive*/
     /* background: color img position size repeat origin clip attachment; */
     /* div {
    background-image: url('image/350_150.png');
    border: 10px dotted lightgreen;
    background-repeat: no-repeat;
    background-position: center top;
    background-position: 10% 30%;
    background-position: 100px 22px;
} */


/* div {
    background-image: url('image/350_150.png');
    border: 10px dotted lightgreen;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: 40px 100px;
} */
    
*{text-align: center;
}

body{background-color: rgba(70, 95, 135, 0.6);
background-image: url(images/amir.jpg);
background-size:auto;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top right;
}

div{ border: 20px double /*It can be used from (solid and dotted) */ rgb(208, 134, 22);
    background-color: rgba(4, 255, 96, 0.329);
padding: 2vw;
}

#image-me{
    width: 200px; height: 200px;margin: auto;
}
#image-girl{width:100px;height:100px;
}

tr,td,table,th{
    border: 0.5vw solid black;
border-style: ridge;
}

#col2{background-image: url(images/SharedScreenshot.jpg);
background-origin: content-box;/*100% 50% */
background-size: contain;  /*100% 50% and cover */
}

#col4{background-color: brown;}

.border1{
    background-clip: content-box;
}
.border2{
    background-clip: padding-box;
}
.border3{
    background-clip: border-box;
    margin:auto;
}